<div class="py-4"></div>

<div class="container p-4">
  <div class="row">
      <div class="col-lg-2 col-md-1"></div>

      <div class="col-lg-8 col-md-10">
      <h4><small>Colegios</small></h4>
          <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Ubigeo</th>
                    <th class="text-center">Clave</th>
                    <th class="text-center">Acrónimo</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Accion</th>
                  </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let college of colleges; let i = index">
                  <td class="text-center">{{college._id}}</td>
                  <td class="text-center">{{college.name}}</td>
                  <td class="text-center">{{college.location}}</td> 
                  <td class="text-center">{{college.code}}</td> 
                  <td class="text-center">{{college.acronym}}</td>
                  <td class="text-center">{{college.total}}</td>
                  <td class="td-actions text-center">
                    <button type="button" rel="tooltip" class="btn btn-danger btn-round btn-just-icon btn-sm" data-original-title="" title="">
                      <i class="material-icons">X</i>
                    </button>
                </td>
                </tr>
              </tbody>
          </table>
          </div>
    
  </div>
  <div class="col-lg-2 col-md-1"></div>
</div>
</div>