<nav 
  id="navbar" 
  class="navbar navbar-expand-lg navbar-dark bg-dark" 
  style="position:fixed;width:100%;z-index:2;"
  *ngIf="render">

  <div class="tabs">
    <input type="radio" id="tab1" name="tab-control">
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">
    <input type="radio" id="tab4" name="tab-control">
    <ul>
      <li (click)="goTo('/evaluations')">
        <label for="tab1" role="button">
          <img src="assets/icons.assets/book.ico" width="24" height="24" alt="Icono Libro" />
          <br />
          <span>Inicio</span>
        </label>
      </li>


      <li (click)="goTo('/schools')">
        <label for="tab2" role="button">
          <img src="assets/icons.assets/book.ico" width="24" height="24" alt="Icono Libro" />
          <br />
          <span>Colegios</span>
        </label>
      </li>

      <li (click)="openBarSearchStudents(content)">
        <label for="tab3" role="button">
          <img src="assets/icons.assets/book.ico" width="20" height="24" alt="Icono Libro" />
          <br />
          <span>Alumnos</span>
        </label>
      </li>

      <li (click)="goTo('/login')">
        <label for="tab4" role="button">
          <img src="assets/icons.assets/book.ico" width="20" height="24" alt="Icono Libro" />
          <br />
          <span>Salir</span>
        </label>
      </li>
    </ul>

    <ng-template #content let-modal class="modal-user">
      <app-user-search></app-user-search>
    </ng-template>

    <div class="slider">
      <div class="indicator"></div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>