<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="tabs">
  
    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">  
    <input type="radio" id="tab4" name="tab-control">
    <ul>
      <li title="Features" routerLink="/encuestas"><label for="tab1" role="button" >
        <svg viewBox="0 0 24 24">
            <path d="M21 3v19.5h-15.75c-1.243 0-2.25-1.007-2.25-2.25s1.007-2.25 2.25-2.25h14.25v-18h-15c-1.65 0-3 1.35-3 3v18c0 1.65 1.35 3 3 3h18v-21h-1.5z"></path>
            <path d="M5.251 19.5v0c-0 0-0.001 0-0.001 0-0.414 0-0.75 0.336-0.75 0.75s0.336 0.75 0.75 0.75c0 0 0.001-0 0.001-0v0h14.247v-1.5h-14.247z"></path>
        </svg>
        <br><span >Inicio</span></label>
      </li>
      
      <li title="Delivery Contents" routerLink="/login"><label for="tab2" role="button">
        <svg viewBox="0 0 24 24">
          <path d="M7.5 4.5c0-2.485 2.015-4.5 4.5-4.5s4.5 2.015 4.5 4.5c0 2.485-2.015 4.5-4.5 4.5s-4.5-2.015-4.5-4.5zM18.002 10.5h-0.83l-4.667 9.474 1.745-8.724-2.25-2.25-2.25 2.25 1.745 8.724-4.666-9.474h-0.83c-2.998 0-2.998 2.015-2.998 4.5v7.5h18v-7.5c0-2.485 0-4.5-2.998-4.5z"></path>
        </svg><br><span>Alumnos</span></label>
      </li>
      
      <li title="Shipping" routerLink="/colegios"><label for="tab3" role="button">
        <svg viewBox="0 0 24 24">
            <path d="M0 24h12v-24h-12v24zM7.5 3h3v3h-3v-3zM7.5 9h3v3h-3v-3zM7.5 15h3v3h-3v-3zM1.5 3h3v3h-3v-3zM1.5 9h3v3h-3v-3zM1.5 15h3v3h-3v-3zM13.5 7.5h10.5v1.5h-10.5zM13.5 24h3v-6h4.5v6h3v-13.5h-10.5z"></path>
        </svg><br><span>Colegios</span></label>
      </li>
      <li title="Returns" routerLink="/register"><label for="tab4" role="button">
        <svg viewBox="0 0 24 24">
          <path d="M18 15v-3h-7.5v-3h7.5v-3l4.5 4.5zM16.5 13.5v6h-7.5v4.5l-9-4.5v-19.5h16.5v7.5h-1.5v-6h-12l6 3v13.5h6v-4.5z"></path>
        </svg><br><span>Salir</span></label>
      </li>
    </ul>
    
    <div class="slider"><div class="indicator"></div></div>
    
  </div>

  </nav>