


<!DOCTYPE html>
<html>
<head>
<style>
.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: auto;
}

.flex-container > div {
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  
}
#inner {
  display: table;
  margin:0 auto;
}
</style>
</head>
<body >
<div  class="flex-container">
  <div id="inner" class="card-background-page" >
    <img width="300px" height="300px" src="../../assets/img.png">
  </div>
  <div id="inner" class="card-background-page">
    <img width="300px" height="300px" src="../../assets/img.png">
  </div>
  
  <div id="inner" class="card-background-page">
    <img width="300px" height="300px" src="../../assets/img.png">
  </div>
</div>
<hr>


<table style="margin-left:auto; margin-right:auto;" >
	<tbody>
		<tr>
			<td>
        <div style="float:left" class="col-md-3 col-sm-6">
          <div class="progress blue">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">90%</div>
          </div>
        </div>
      </td>
			<td>
        TEST 1
      </td>
      <td>

      </td>
		</tr>
		<tr>
			<td>
        <div class="col-md-3 col-sm-6">
          <div class="progress yellow">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">75%</div>
            </div>
        </div>
      </td>
			<td>
        TEST 2
      </td>
		</tr>
	</tbody>
</table>


</body>
</html>