<div class="container">
  <div class="card" *ngFor="let encuesta of encuestas">
    <div class="imgBx">
      <img src="{{encuesta.src}}" alt="Imagen de tipo de Test" />
    </div>
    <div class="details">
      <div class="content">
        <h2>{{encuesta.nombre}}<br>
          <span>{{encuesta.detalle}}</span>
        </h2>
        <ul>
          <li>
            <a href="#">Dar Encuesta</a>
          </li>
        </ul>
        <a href="#">Continuar</a>
      </div>
    </div>
    <div class="progress blue">
      <span class="progress-left">
        <span class="progress-bar"></span>
      </span>
      <span class="progress-right">
        <span class="progress-bar"></span>
      </span>
      <div class="progress-value">90%</div>
    </div>
  </div>
</div>