<div class="container" style="padding-top:66px;">
  <div class="card" *ngFor="let test of tests">
    <div class="imgBx">
      <img src="{{test.src}}" alt="Imagen de tipo de Test" />
    </div>
    <div class="details">
      <div class="content">
        <h2>{{test.nombre}}</h2>
        <span>{{test.detalle}}</span>
        <div class="py-3"></div>
        <a class="pl-4 pr-4" routerLink="/evaluation">Ingresar</a>
        <div class="progress blue">
          <span class="progress-left">
            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
            <span class="progress-bar"></span>
          </span>
          <div class="progress-value">90%</div>
        </div>
      </div>
    </div>
  </div>
</div>